<!DOCTYPE html>
<html>
    <head>
    <style type="text/css"></style>
    <script src="https://unpkg.com/vue@3"></script> 
    </head>
    <body>
        <div id="contenedor">
            <table id="main_table">
                <legend>
                    Lista Usuarios:
                </legend>
                
                <thead>
                    <th>Nombre:</th>
                    <th>Usuario:</th>
                    <th>Correo:</th>
                </thead>
                <tbody>
                    <tr v-for="u in users">
                        <td>{{u.name}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                    </tr>
                </tbody>
            </table>
            <legend>------------------------------------------------------------------------------------------------------</legend>
            <br>
            <legend>
                Agregar registro de usuario:
            </legend><br>

            <input type="name" v-model="name" placeholder="Nombre"><br>
            <br>

            <input type="username" v-model="username" placeholder="Usuario"><br>
            <br>
           
            <input type="email" v-model="email" placeholder="Correo electronico"><br>
            <br>

            <input type="password" v-model="password" placeholder="Contraseña"><br>
            <br>
           
                    <button @click="agregar">
                        Agregar.
                    </button>
        </div>
           
            <script type="text/javascript">
               
                const {createApp}=Vue;
                
                createApp({
                    data(){
                        return{
                            users:[],
                            email:'',
                            password:'',
                            name:'',
                            username:''
                        }
                    }, methods:{
                        agregar(e){
                        this.users.push({name: this.name,email: this.email,password: this.password, username: this.username});
                        localStorage.clear();
                        var access=this.users.map(function(u){
                        localStorage.setItem("nombre",u.name)
                        localStorage.setItem("correo",u.email)
                        localStorage.setItem("Username",u.username)
                    })
                         }
                    },mounted(){
                        fetch('users.json')
                        .then((res) => res.json())
                        .then((json) => (this.users = json))
                        .catch((err) => (console.log(err)))
                    }
                }).mount ('#contenedor')  
            </script>
</body>
</html>