<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vue JS</title>
	<script src="https://unpkg.com/vue@3"></script>
</head>
<body>
	

    <div id = "contenedor">

        <ol>
            <li v-for = "item in lepes">
                {{item.name}} : <span> {{item.role}}</span>
            </li>
        </ol>

        <input type="text" v-model="name_lepe">
        <input type="text" v-model="rol">
        <button @click="save">
            Save lepes
        </button>

        <hr>
        <input type="text" v-model="numero1">
        <input type="text" v-model="numero2">

        <button @click="suma">
            Suma
        </button>

        <h1>
            {{resultado}}
        </h1>

        <input type="text" v-model="age">

        <h1 v-if="age < 18">
            No pasa
        </h1>

        <h1 v-if="age > 18">
            Pasa
        </h1>

    </div>

	<script type="text/javascript">
	    const {createApp} = Vue ; 

        const app = createApp({
            data(){
                return{
                    numero1: 0,
                    numero2: 0,
                    resultado: 0,
                    age: 0,
                    lepes: [
                    {name: 'Aaron', role: 'Jefe'}],
                    name_lepe: '',
                    rol: ''
                }
            },
            methods:{
                suma(){
                    this.resultado = parseInt(this.numero1) + parseInt(this.numero2);
                },
                save(){
                this.lepes.push({name:this.name_lepe,role:this.rol})
            }
            },
           
        }).mount('#contenedor')

        
	</script>
</body>
</html>